<!-- Vikash Verma

{{title}}
{{"asdasd"}} -->
<!-- <br/><br/> -->


  <div class="card" style="width: 70rem;">
    <div class="card-body">
      <form [formGroup]="CustomerModel.formCustomerGroup">
      <h5 class="card-title">Add Customer</h5>
      <div class="mb-3">
        <label class="form-label">Customer Code</label>
        <input type="text" [(ngModel)]="CustomerModel.customerCode" formControlName="CustomerCodeControl" class="form-control" />
        <p style="color:red ;" [hidden]="!(hasError('pattern','CustomerCodeControl'))"> Customer Code should be proper</p>
        <p style="color:red ;" [hidden]="!(hasError('required','CustomerCodeControl'))"> Customer Code is required</p>
      </div>
      <div class="mb-3">
        <label class="form-label">Customer Name</label>
        <input type="text" [(ngModel)]="CustomerModel.customerName" formControlName="CustomerNameControl" class="form-control" />
      </div>
      <div class="mb-3">
        <label class="form-label">Customer Amount</label>
        <input type="text" [(ngModel)]="CustomerModel.customerAmount" [ngModelOptions]="{standalone: true}" class="form-control">
      </div>

      <input type="button" [disabled]="!(CustomerModel.formCustomerGroup.valid)" class="btn btn-primary" value="Add Customer" (click)="AddCustomer()" />
      </form>
    </div>
    <table class="table table-striped">

      <thead>
        <tr>
          <th scope="col">Customer Code</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Customer Amount</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tr *ngFor="let cust of CustomerModels">
        <td>{{cust.customerCode}}</td>
        <td>{{cust.customerName}}</td>
        <td>{{cust.customerAmount}}</td>
        <td><input type="button" value="Edit" class="btn btn-success"
            style="background-color: var(--bs-btn-active-bg);" (click)="EditCustomer(cust)">
          <input type="button" value="Delete" class="btn btn-danger" style="background-color: var(--bs-btn-active-bg);" (click)="DeleteCustomer(cust.id)">
        </td>
      </tr>
    </table>
  </div>

<!-- <input [(ngModel)]="CustomerModel.customerCode" type="text"><br/><br/>
<input [(ngModel)]="CustomerModel.customerName" type="text"><br/><br/>
<input [(ngModel)]="CustomerModel.customerAmount" type="text"><br/><br/>
<input type="button" value="Click me" (click)="ClickMe()"/> -->

<!-- <img [src]="imgUrl" /> -->

<!--
()==>event binding
[]==>property Binding
[()]=> two way

-->
<!-- 
{{CustomerModel.customerCode}}
{{CustomerModel.customerName}}
{{CustomerModel.customerAmount}} -->