Vikash Verma

{{title}}
{{"asdasd"}}
<br/><br/>
customerCode<input [(ngModel)]="CustomerModel.customerCode" type="text"><br/><br/>
customerName<input [(ngModel)]="CustomerModel.customerName" type="text"><br/><br/>
customerAmount<input [(ngModel)]="CustomerModel.customerAmount" type="text"><br/><br/>
<input type="button" value="Click me" (click)="ClickMe()"/>
<br/><br/><br/>
<table>
  <tr>
    <td>customerCode</td>
    <td>customerName</td>
    <td>customerAmount</td>
  </tr>
  <tr *ngFor="let cust of CustomerModels">
    <td>{{cust.customerCode}}</td>
    <td>{{cust.customerName}}</td>
    <td>{{cust.customerAmount}}</td>
    </tr>
</table>
<br/><br/><br/>
<img [src]="imgUrl" />

<!--
()==>event binding
[]==>property Binding
[()]=> two way

-->
<!-- 
{{CustomerModel.customerCode}}
{{CustomerModel.customerName}}
{{CustomerModel.customerAmount}} -->